* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.history {
  display: flex;
  justify-content: center;
}

.history-box {
  width: 500px;
  height: 250px;
  border: 3px solid black;
  overflow: auto;
}

.calc-expression {
  padding-left: 5px;
}

.calc-solution {
  padding-right: 5px;
  font-weight: 600;
  text-align: right;
}

.calc-expression:hover {
  background-color: #ececec;
  cursor: pointer;
}

.calc-solution:hover {
  background-color: #ececec;
  cursor: pointer;
}

.expression {
  display: flex;
  justify-content: center;
  padding: 15px;
}

input.exp-text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 24px;
  border: 0px;
  background-color: #dddddd;
  padding: 5px;
  width: 410px;
}

input.exp-text:focus {
  outline: none;
}

.keypad {
  display: flex;
  justify-content: center;
}

.keyrow {
  display: flex;
}

.keypad button {
  font-family: 'IBM Plex Mono', monospace;
  width: 60px;
  height: 80px;
  padding: 10px;
  font-size: 32px;
  border: 1px solid #000000;
  border-radius: 0px;
  background-color: #ececec;
}

.keypad button:hover {
  cursor: pointer;
  background-color: #dddddd;
}

button.delete-btn {
  width: 120px;
  font-size: 100px;
}

span.delete-span {
  transform: translate(0px, -45px);
  display: block;
}

.keycol-1-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-2-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-3-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-4-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-5-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-6-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}