* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.history {
  display: flex;
  justify-content: center;
}

.history-box {
  width: 500px;
  height: 250px;
  border: 3px solid black;
  overflow: auto;
}

.calc-expression {
  padding-left: 5px;
}

.calc-solution {
  padding-right: 5px;
  font-weight: 600;
  text-align: right;
}

.expression {
  display: flex;
  justify-content: center;
}

input.exp-text {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 24px;
}

.keypad {
  display: flex;
  justify-content: center;
}

.keyrow {
  display: flex;
}

.keyrow button {
  font-family: 'IBM Plex Mono', monospace;
  width: 60px;
  height: 80px;
  padding: 10px;
  font-size: 32px;
}

.keycol-1-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-2-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-3-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-4-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-5-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}
.keycol-6-6 {
  width: 60px;
  height: 80px;
  margin: 5px;
}